html{
    background-color: antiquewhite;
}
.con1{
  background-color: antiquewhite;
}
.dark {
    color: rgb(177, 165, 150);
}
.background-dark{
    background-color: rgb(78, 71, 71);
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
  
.active, .accordion:hover {
  background-color: #ccc; 
}
  
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.center{
  text-align: center;
}
#sek{
  margin-bottom: none;
  background-color: rgb(74, 50, 212);
}
.isi{
  background-color: #ccc;
}
.gelap{
  background-color: #444;
}