{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Hello</title>
</head>

<body>
    <script src="{% static 'scripts.js' %}">
    </script>
    <div class="container-fluid mx-auto con1">
        <h1 class="center">Hello !</h1>
        <button class="btn btn-primary" id="changeButton" name="button">Change Theme</button>

        <h2 class="center">Tentang Saya</h2>

        <div class="container mx-auto center" id="accordion">
            <h3 id="sek"><a>Daftar Aktivitas</a></h3>
            <div class="isi" id="isi">
                <p name="isi-tulisan">Akademis, Compfest, Wisgan, PMB, Tugas akademis, Tugas Kepanitiaan.</p>
            </div>
            <h3 id="sek"><a>Pengalaman Organisasi dan kepanitiaan</a></h3>
            <div class="isi" id="isi">
                <p>Ristek Fasilkom UI</p>
                <p>Compfest 11</p>
                <p>CGT</p>
            </div>
            <h3 id="sek"><a>Prestasi</a></h3>
            <div class="isi" id="isi">
                <p>Sholat 5 waktu.</p>
            </div>
        </div>
    </div>
</body>

</html>